<header>
    <div class="container cabecalho">
        <a href="index.html"><img class ="logo" src="assets/img/logo.png" alt="logo do site game-mania"></a>
        <nav id = "menu" class="menu">
            <a href="#"target="_blank" >Inicio</a>
            <a href="#"target="_blank" >Consoles</a>
            <a href="#"target="_blank" >Jogos</a>
            <a href="#"target="_blank" >Informatica</a>
            <a routerLink="/login">Login</a>
        </nav>
        <!-- <a href="#" id="barras" onclick= "mostrarMenu()"><img class="icone-menu" src="img/bars.svg" alt="Ícone do menú barras"></a> -->
        <a href="#" id="barras"><img class="icone-menu" src="assets/img/bars.svg" alt="Ícone do menú barras"></a>
    </div>
</header>
