
<main>
    <section class="banner">
        <div class="container posicionamento-banner">
            <div class="conteudo-banner">
                <h1>Nós Somos Game-Mania</h1>
                <p>Temos as Melhores Ofertas do Brasil</p>
                <a href="#">Entrar</a>
            </div>
        </div>   
    </section>   
    <section class="lancamentos">
        <div class="container lancamentos-titulo"> Lançamentos </div>
        <div class="container galeria">
            <a href="/src/assets/img/pc1.png" class="galeria-items"> PC Gamer Xeon R$ 6.258,00
                <img src="/assets/img/pc1.png" alt="pc gamer"> 
            </a>
            <a href="/src/assets/img/pc2.png" class="galeria-items"> Notebook Gamer R$ 6.999,00
                <img src="/assets/img/pc2.png" alt="notebook gamer"> 
            </a>
            <a href="/src/assets/img/ps5.png" class="galeria-items"> PlayStation 5 R$ 7.499,90
                <img src="/assets/img/ps5.png" alt="ps5"> 
            </a>
        </div>
    </section>
     
    <section class="jogos">
        <div class="container posicionamento-jogos">
            <img src="assets/img/nintendo.png" alt="Logo Nintendo">
            <img src="assets/img/ps.png" alt="Logo Playstation">
            <img src="assets/img/epic.png" alt="epic games">
            <img src="assets/img/xbox.png" alt="Logo X-box">
        </div>
    </section>
    <section class="campeonatos">
        <div class="container campeonatos-proximos">
            <h2>Próximos Campeonatos</h2>
            <img src="assets/img/game1.png" alt="campeonato1" style="border:5px solid rgb(248, 245, 245)">
            <img src="assets/img/game2.png" alt="campeonato2" style="border:5px solid rgb(248, 245, 245)">
        </div>
    </section>  

    
</main>



