<footer>
    <div class ="container roda-pe">
        <div class ="conteudo-pagamento">
            <h5>Formas de Pagamento</h5>
            <a href="#"><img class ="logo-visa" src="assets/img/visa.png" alt="logo Cartão Visa"></a>
            <a href="#"><img class ="logo-visa" src="assets/img/master.png" alt="logo Cartão Master Card"></a>
            <a href="#"><img class ="logo-visa" src="assets/img/elo.png" alt="logo Cartão elo"></a>
            <a href="#"><img class ="logo-visa" src="assets/img/American-Express.png" alt="logo Cartão American xpress"></a>
            <a href="#"><img class ="logo-visa" src="assets/img/boleto.png" alt="logo Boleto"></a>
        </div>
        <div class="conteudo-informacoes">
            <h5>Informações</h5>
            <a href="#">Sobre Nós</a>
            <a href="#">Politica de Privacidade</a>
            <a href="#">Segurança</a>
            <a href="#">Perguntas Frequêntes</a>
            <a href="#">Fale Conosco</a>
           
        </div>
        <div class="conteudo-atendimento">
            <h5>Atendimento</h5>
            <ul>
                <li><a href="#"> <img class="phone" src="assets/img/phone.png" alt="telefone"> (66)1111-1111</a></li>
                <li><a href="#"> <img class="whatsapp" src="assets/img/whatsapp.png" alt="whatsapp"> (66)1111-1111</a></li>
                <li><a href="#"> <img class="email" src="assets/img/arroba.png" alt="e-mail"> sup@suporte.com</a></li>
            </ul>
        </div>
        <div class="midia-social">
            <div class="formulario"> 
                <p>Cadastre seu e-mail para receber informações</p>
                <form action="">
                    <input id="campo-email" type="email" placeholder="E-mail" required>
                    <button class="button" onclick="cadastrarNewsletter()">Cadastrar</button>
                </form>
            </div>
            <div>
                <h5>Siga-nos em:</h5>
                <img src="assets/img/instagram 1.png" alt="Logo instagram">
                <img src="assets/img/facebook 1.png" alt="Logo facebook">
                <img src="assets/img/twitter-logo-1-1 1.png" alt="Logo twitter">
                <img src="assets/img/youtube 1.png" alt="Logo youtube">
            </div>
       </div>
    </div>
    <div class="container roda-pe1">
        <div>
            <h6>Copyright © 2020 - All Right Reserved.</h6>
        </div>
    </div>

</footer>
